{% extends "base.html" %}

{% block titulo %} Detalles jugador {% endblock %}

{%block contenido %}
<div class="card">
  <div class="card-header">
    {{jugador.nombre}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Posición: {{jugador.posicion}}</li>
    <li class="list-group-item">Equipo actual: {{jugador.equipo_actual}}</li>
    <li class="list-group-item">Equipo anterior: {{jugador.equipo_anterior}}</li>
  </ul>
</div>

<br>
<a href="{% url 'jugador_lista' %}">Atrás</a>
{% endblock %}
