{% extends "base.html" %}

{% block titulo %} Lista de jugadores {% endblock %}

{% block contenido %}

<form method="POST">
{% csrf_token %}
<div class="form-check">
  <input class="form-check-input" type="radio" name="tipo" id="equipo" value="equipo" checked>
  <label class="form-check-label" for="equipo">
    Por equipo
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="tipo" id="posicion" value="posicion">
  <label class="form-check-label" for="posicion">
    Por posición
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="tipo" id="cambio" value="cambio">
  <label class="form-check-label" for="cambio">
    Cambiados al equipo
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="tipo" id="despedidos" value="despedidos">
  <label class="form-check-label" for="despedidos">
    Despedidos al equipo
  </label>
</div>

<br>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2" name="q">
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="submit" id="button-addon2">Buscar</button>
  </div>
</div>
</form>

<table class="table">
<thead>
<tr>
<th>Nombre</th>
<th>Posición</th>
<th>Equipo actual</th>
<th>Equipo anterior</th>
<th>Detalles</th>
</tr>
</thead>
<tbody>
{% for jugador in jugadores %}
<tr>
<td>{{ jugador.nombre }}</td>
<td>{{ jugador.posicion }}</td>
<td>{{ jugador.equipo_actual }}</td>
<td>{{ jugador.equipo_anterior }}</td>
<td><a href="{% url 'jugador_detalles' jugador.id %}">Ver detalles</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
