{% extends "base.html" %}

{% block titulo %} Detalles equipo {% endblock %}

{%block contenido %}
<div class="card">
  <div class="card-header">
    {{equipo.nombre}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Estadio: {{equipo.nombre_estadio}}</li>
    <li class="list-group-item">Super bowls: {{equipo.super_bowls}}</li>
    <li class="list-group-item">
    <div class="card">
    <div class="card-header">miembros</div>
    <ul class="list-group list-group-flush">
    {% for miembro in equipo.miembros %}
    <li class="list-group-item">{{ miembro.nombre }}</li>
    {% endfor %}
    </ul>
    </div>
    </li>
  </ul>
</div>

<br>
<a href="{% url 'equipo_lista' %}">Atrás</a>
{% endblock %}