{% extends "base.html" %}

{% block titulo %} Lista de equipos {% endblock %}

{% block contenido %}

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estadio</th>
      <th>Super bowls</th>
      <th>Detalles</th>
    </tr>
  </thead>
  <tbody>
    {% for equipo in equipos %}
    <tr>
      <td>{{ equipo.nombre }}</td>
      <td>{{ equipo.nombre_estadio }}</td>
      <td>{{ equipo.super_bowls }}</td>
      <td><a href="{% url 'equipo_detalles' equipo.id %}">Ver detalles</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
