{% extends "base.html" %}

{% block titulo %} Detalles estadio {% endblock %}

{%block contenido %}
<div class="card">
  <div class="card-header">
    {{estadio.nombre}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Ciudad: {{estadio.ciudad}}</li>
    <li class="list-group-item">Estado: {{estadio.estado}}</li>
    <li class="list-group-item">Capacidad: {{estadio.capacidad}}</li>
  </ul>
</div>

<br>
<a href="{% url 'estadio_lista' %}">Atrás</a>
{% endblock %}