{% extends "base.html" %}

{% block titulo %} Lista de estadios {% endblock %}

{% block contenido %}

<table class="table">
<thead>
<tr>
<th>Nombre</th>
<th>Ciudad</th>
<th>Estado</th>
<th>Capacidad</th>
<th>Detalles</th>
</tr>
</thead>
<tbody>
{% for estadio in estadios %}
<tr>
<td>{{ estadio.nombre }}</td>
<td>{{ estadio.ciudad }}</td>
<td>{{ estadio.estado }}</td>
<td>{{ estadio.capacidad }}</td>
<td><a href="{% url 'estadio_detalles' estadio.id %}">Ver detalles</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
